.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
}
.card{
    height: 360px;
    width: 300px;
    background-color:white;
    color:black;
    margin: 10px;
    padding: 5px;
    border-style: none;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #ccc;
}
img{
    height: 200px;
    width: 200px;
    border-style: none;
    border-radius: 17px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.card p{
    margin:2px;
    font-weight: bold;
}
.contant{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.buttonn{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}